{{translate 'h1' 'scientists.overview.header'}}

<h2>
  {{translate 'span' 'scientists.talks.julieta.title'}}</br>
  {{#linkTo 'scientists.julieta_fierro'}}{{translate 'span' 'scientists.JulietaFierro.name'}}{{/linkTo}}
</h2>
{{translate 'p' 'scientists.talks.julieta.desc'}}

<h2>
  {{translate 'span' 'scientists.talks.luis.title'}}</br>
  {{#linkTo 'scientists.luis_nasser'}}{{translate 'span' 'scientists.LuisNasser.name'}}{{/linkTo}}
</h2>
{{translate 'p' 'scientists.talks.luis.desc'}}

<h2>
  {{translate 'span' 'scientists.talks.ursala.title'}}</br>
  {{#linkTo 'scientists.ursala_perez_salas'}}{{translate 'span' 'scientists.UrsalaPerezSalas.name'}}{{/linkTo}}
</h2>
{{translate 'p' 'scientists.talks.ursala.desc'}}

<h2>
  {{translate 'span' 'scientists.talks.claudio.title'}}</br>
  {{#linkTo 'scientists.claudio_ugalde'}}{{translate 'span' 'scientists.ClaudioUgalde.name'}}{{/linkTo}}
</h2>
{{translate 'p' 'scientists.talks.claudio.desc'}}

<h2>
  {{translate 'span' 'scientists.talks.juan.title'}}</br>
  {{#linkTo 'scientists.juan_carlos_campuzano'}}{{translate 'span' 'scientists.JuanCarlos.name'}}{{/linkTo}}
</h2>
{{translate 'p' 'scientists.talks.juan.desc'}}

<h2>
  {{translate 'span' 'scientists.talks.jose.title'}}</br>
  {{#linkTo 'scientists.jose_francisco_salgado'}}{{translate 'span' 'scientists.JoseFranciscoSalgado.name'}}{{/linkTo}}
</h2>
{{translate 'p' 'scientists.talks.jose.desc'}}
