{{translate 'h1' 'scientists.overview.header'}}

<h2>
  {{translate 'span' 'scientists.talks.julieta.title'}}</br>
  {{#linkTo 'scientists.julieta_fierro'}}{{translate 'span' 'scientists.JulietaFierro.name'}}{{/linkTo}}
</h2>
{{translate 'p' 'scientists.talks.julieta.desc'}}

<h2>
  {{translate 'span' 'scientists.talks.luis.title'}}</br>
  {{#linkTo 'scientists.luis_nasser'}}{{translate 'span' 'scientists.LuisNasser.name'}}{{/linkTo}}
</h2>
{{translate 'p' 'scientists.talks.luis.desc'}}

<h2>
  {{translate 'span' 'scientists.talks.ursala.title'}}</br>
  {{#linkTo 'scientists.ursala_perez_salas'}}{{translate 'span' 'scientists.UrsalaPerezSalas.name'}}{{/linkTo}}
</h2>
{{translate 'p' 'scientists.talks.ursala.desc'}}

<h2>
  {{translate 'span' 'scientists.talks.claudio.title'}}</br>
  {{#linkTo 'scientists.claudio_ugalde'}}{{translate 'span' 'scientists.ClaudioUgalde.name'}}{{/linkTo}}
</h2>
{{translate 'p' 'scientists.talks.claudio.desc'}}

<h2>
  {{translate 'span' 'scientists.talks.juan.title'}}</br>
  {{#linkTo 'scientists.juan_carlos_campuzano'}}{{translate 'span' 'scientists.JuanCarlos.name'}}{{/linkTo}}
</h2>
{{translate 'p' 'scientists.talks.juan.desc'}}

<h2>
  {{translate 'span' 'scientists.talks.roberto.title'}}</br>
  {{#linkTo 'scientists.roberto_castillo'}}{{translate 'span' 'scientists.RobertoCastillo.name'}}{{/linkTo}}
</h2>
{{translate 'p' 'scientists.talks.roberto.desc'}}

<h2>
  {{translate 'span' 'scientists.talks.carlos.title'}}</br>
  {{#linkTo 'scientists.carlos_wagner'}}{{translate 'span' 'scientists.CarlosWagner.name'}}{{/linkTo}}
</h2>
{{translate 'p' 'scientists.talks.carlos.desc'}}

<h2>
  {{translate 'span' 'scientists.talks.alvaro.title'}}</br>
  {{#linkTo 'scientists.alvaro_chavarria'}}{{translate 'span' 'scientists.AlvaroChavarria.name'}}{{/linkTo}}
</h2>
{{translate 'p' 'scientists.talks.alvaro.desc'}}

{{!-- Shows --}}

{{translate 'h3' 'scientists.talks.shows'}}

<h2>
  {{translate 'span' 'scientists.talks.jose.title'}}</br>
  {{#linkTo 'scientists.jose_francisco_salgado'}}{{translate 'span' 'scientists.talks.jose.pretext'}}{{translate 'span' 'scientists.JoseFranciscoSalgado.name'}}{{/linkTo}}
</h2>
{{translate 'p' 'scientists.talks.jose.desc'}}

<h2>
  {{translate 'span' 'scientists.talks.claudio.alt.title'}}</br>
  {{#linkTo 'scientists.claudio_ugalde'}}{{translate 'span' 'scientists.talks.claudio.alt.pretext'}}{{translate 'span' 'scientists.ClaudioUgalde.name'}}{{/linkTo}}
</h2>
{{translate 'p' 'scientists.talks.claudio.alt.desc'}}

<h2>{{translate 'span' 'scientists.talks.oneWorld.title'}}</h2>
{{translate 'p' 'scientists.talks.oneWorld.desc'}}

<h2>{{translate 'span' 'scientists.talks.backToMoon.title'}}</h2>
{{translate 'p' 'scientists.talks.backToMoon.desc'}}
