{{translate 'h1' 'resources.adlerActivities.title'}}

<a href="http://www.adlerplanetarium.org/volunteers">
  {{translate 'h2' 'resources.adlerActivities.volunteer.title'}}
</a>

{{translate 'p' 'resources.adlerActivities.volunteer.content'}}

<a href="http://www.adlerplanetarium.org/membership/">
  {{translate 'h2' 'resources.adlerActivities.membership.title'}}
</a>
{{translate 'p' 'resources.adlerActivities.membership.content'}}
