{{translate 'h1' 'resources.adlerActivities.title'}}

<h2>
  <a href="http://www.adlerplanetarium.org/volunteers">
    {{translate 'span' 'resources.adlerActivities.volunteer.title'}}
  </a>
</h2>

{{translate 'p' 'resources.adlerActivities.volunteer.content'}}

<h2>
  <a href="http://www.adlerplanetarium.org/membership/">
    {{translate 'span' 'resources.adlerActivities.membership.title'}}
  </a>
</h2>

{{translate 'p' 'resources.adlerActivities.membership.content'}}
