<h1>{{translate 'span' 'resources.nasaEnEspanol.title' }}</h1>

<h2>
  <a href="https://twitter.com/NASA_es">
    {{translate 'span' 'resources.nasaEnEspanol.twitter.header'}}
  </a>
</h2>

{{translate 'p' 'resources.nasaEnEspanol.twitter.content'}}

<h2>
  <a href="http://nasawavelength.org/resource-search?qq=spanish&educationalLevel=">
    {{translate 'span' 'resources.nasaEnEspanol.wavelength.header'}}
  </a>
</h2>

{{translate 'p' 'resources.nasaEnEspanol.wavelength.content'}}

<h2>
  <a href="http://www.nasa.gov/exploration/home/espanol.html#.UsLxUmRDtTN">
    {{translate 'span' 'resources.nasaEnEspanol.exploration.header'}}
  </a>
</h2>

{{translate 'p' 'resources.nasaEnEspanol.exploration.content'}}

<h2>
  <a href="http://women.nasa.gov/spanish/">
    {{translate 'span' 'resources.nasaEnEspanol.women.header'}}
  </a>
</h2>

{{translate 'p' 'resources.nasaEnEspanol.women.content'}}

<h2>
  <a href="http://www.nasa.gov/socialmedia">
    {{translate 'span' 'resources.nasaEnEspanol.social.header'}}
  </a>
</h2>

{{translate 'p' 'resources.nasaEnEspanol.social.content'}}
