{{translate 'h1' 'resources.theAdler.title'}}

<h2>
  <a href="http://www.adlerplanetarium.org/volunteers">
    {{translate 'span' 'resources.theAdler.volunteer.title'}}
  </a>
</h2>

{{translate 'p' 'resources.theAdler.volunteer.content'}}

<h2>
  <a href="http://www.adlerplanetarium.org/membership/">
    {{translate 'span' 'resources.theAdler.membership.title'}}
  </a>
</h2>

{{translate 'p' 'resources.theAdler.membership.content'}}

<h2>
  <a href="http://www.adlerplanetarium.org/camps/">
    {{translate 'span' 'resources.theAdler.summerCamps.title'}}
  </a>
</h2>

{{translate 'span' 'resources.theAdler.summerCamps.content'}}

<h2>{{translate 'span' 'resources.theAdler.socialMedia.title'}}</h2>
<p><a href="https://twitter.com/adlerskywatch">{{translate 'span' 'resources.theAdler.socialMedia.twitter'}}</a></p>
<p><a href="http://www.youtube.com/adlerplanetarium">{{translate 'span' 'resources.theAdler.socialMedia.youtube'}}</a></p>
<p><a href="https://www.facebook.com/adlerplanetarium">{{translate 'span' 'resources.theAdler.socialMedia.facebook'}}</a></p>
