<h1>{{translate 'h1' 'event.organizers.header'}}</h1>

{{translate 'h2' 'scientists.IsabelCarrera.name'}}
{{translate 'p' 'scientists.IsabelCarrera.bio'}}

{{translate 'h2' 'scientists.JoseFranciscoSalgado.name'}}
{{translate 'p' 'scientists.JoseFranciscoSalgado.bio'}}

{{translate 'h2' 'scientists.LauraTrouille.name'}}
{{translate 'p' 'scientists.LauraTrouille.bio'}}

{{translate 'h2' 'scientists.JulietaAguilera.name'}}
{{translate 'p' 'scientists.JulietaAguilera.bio'}}

{{translate 'h2' 'scientists.MarkSubbarao.name'}}
{{translate 'p' 'scientists.MarkSubbarao.bio'}}
