<div class="scientists">
<h1>{{translate 'h1' 'event.organizers.header'}}</h1>

{{translate 'h2' 'scientists.IsabelCarrera.name'}}
<img src="./images/headshots/isabelCarrera.jpg" alt="Isabel Carerra">
{{translate 'p' 'scientists.IsabelCarrera.bio'}}

{{translate 'h2' 'scientists.JoseFranciscoSalgado.name'}}
<img src="./images/headshots/joseFransisco.jpg" alt="Jose Fransisco">
{{translate 'p' 'scientists.JoseFranciscoSalgado.bio'}}

{{translate 'h2' 'scientists.LauraTrouille.name'}}
<img src="./images/headshots/lauraTrouille.jpg" alt="Laura Trouille">
{{translate 'p' 'scientists.LauraTrouille.bio'}}

{{translate 'h2' 'scientists.JulietaAguilera.name'}}
<img src="./images/headshots/julietaAguilera.jpg" alt="Julieta Aguilera">
{{translate 'p' 'scientists.JulietaAguilera.bio'}}

{{translate 'h2' 'scientists.MarkSubbarao.name'}}
<img src="./images/headshots/markSubbarao.jpg" alt="Laura Trouille">

{{translate 'p' 'scientists.MarkSubbarao.bio'}}
</div>
