<div id="navigation">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        {{#linkTo 'event.about'}}{{translate 'h1' 'home.title'}}{{/linkTo}}
      </div>

      <div class="col-sm-9 col-md-7">
        <div class="links">
          {{#linkTo 'event'}}{{translate 'span' 'nav.event'}}{{/linkTo}}
          {{#linkTo 'scientists'}}{{translate 'span' 'nav.scientists'}}{{/linkTo}}
          {{#linkTo 'resources'}}{{translate 'span' 'nav.resources'}}{{/linkTo}}
          {{#linkTo ''}}{{translate 'span' 'nav.getTickets'}}{{/linkTo}}
        </div>
      </div>

      <div class="col-sm-1">
        <button {{action 'changeLanguage'}} id="changeLang">Español</button>
      </div>
    </div>
  </div>
</div>

<div id="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="./images/adler-375.jpg">
      </div>
      <div class="col-md-6">
        {{translate 'h1' 'home.callout'}}
        {{translate 'p' 'home.intro'}}
        <div class="row">
          <div class="col-md-7">
            <button>{{translate 'span' 'nav.getTickets'}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="main_content">
  <div class="container">
    {{outlet}}
  </div>
</div>

<div id="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-12">
        <span>Thank you to our sponsors:</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-2">
        <img src="./images/sponsors/mexico_live_it.jpg">
      </div>
      <div class="col-sm-6 col-md-2">
        <img src="./images/sponsors/motorola.jpg">
      </div>
      <div class="col-sm-6 col-md-4">
        <img src="./images/sponsors/durango.jpg">
      </div>
      <div class="col-sm-6 col-md-3">
        <img src="./images/sponsors/inxpress.jpg">
      </div>
      {{!-- end first row --}}
      <div class="col-sm-6 col-md-4">
        <img src="./images/sponsors/evanston.jpg">
      </div>
      <div class="col-sm-6 col-md-1">
        <img src="./images/sponsors/casa.jpg">
      </div>
      <div class="col-sm-6 col-md-5">
        <img src="./images/sponsors/aero_mexico.jpg">
      </div>
      <div class="col-sm-6 col-md-1">
        <img src="./images/sponsors/impormex.jpg">
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3" >
        <a href="http://www.adlerplanetarium.org/">
          <img src="./images/adler-logo.png" id="adler_logo">
        </a>
      </div>

      <div class="col-sm-4 col-md-2">
        <h1>The Event</h1>
        {{#linkTo 'event.about'}}<span {{action 'scrollToMainContent'}}>About</span>{{/linkTo}}
        {{!-- {{#linkTo 'event.schedule'}}<span {{action 'scrollToMainContent'}}>Schedule</span>{{/linkTo}} --}}
        {{#linkTo 'event.getting_here'}}<span {{action 'scrollToMainContent'}}>Getting Here</span>{{/linkTo}}
        {{#linkTo 'event.contact_us'}}<span {{action 'scrollToMainContent'}}>Contact Us</span>{{/linkTo}}
        {{#linkTo 'event.contributors'}}<span {{action 'scrollToMainContent'}}>Contributors</span>{{/linkTo}}
        {{#linkTo 'event.organizers'}}<span {{action 'scrollToMainContent'}}>Organizers</span>{{/linkTo}}
      </div>

      <div class="col-sm-4 col-md-2">
        <h1>Latino Scientists</h1>
        {{#linkTo 'scientists.julieta_fierro'}}<span {{action 'scrollToMainContent'}}>Julieta Fierro</span>{{/linkTo}}
        {{#linkTo 'scientists.luis_nasser'}}<span {{action 'scrollToMainContent'}}>Luis Nasser</span>{{/linkTo}}
        {{#linkTo 'scientists.ursala_perez_salas'}}<span {{action 'scrollToMainContent'}}>Ursala Perez-Salas</span>{{/linkTo}}
        {{#linkTo 'scientists.jose_francisco_salgado'}}<span {{action 'scrollToMainContent'}}>José Francisco Salgado</span>{{/linkTo}}
      </div>

      <div class="col-sm-4 col-md-2">
        <h1>Resources</h1>
        {{#linkTo 'resources.the_adler'}}<span {{action 'scrollToMainContent'}}>The Adler</span>{{/linkTo}}
        {{#linkTo 'resources.nasa'}}<span {{action 'scrollToMainContent'}}>NASA</span>{{/linkTo}}
        {{#linkTo 'resources.role_models'}}<span {{action 'scrollToMainContent'}}>Role Models</span>{{/linkTo}}
        {{#linkTo 'resources.organizations'}}<span {{action 'scrollToMainContent'}}>Organizations</span>{{/linkTo}}
        {{#linkTo 'resources.planetariums'}}<span {{action 'scrollToMainContent'}}>Planetariums</span>{{/linkTo}}
        {{#linkTo 'resources.additional'}}<span {{action 'scrollToMainContent'}}>Additional</span>{{/linkTo}}
      </div>

      <div class="clearfix visible-sm"></div>

      <div class="col-md-3">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <button>Buy Tickets!</button><br>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-xs-2 col-sm-1 col-md-3">
              <a href='https://www.facebook.com/adlerplanetarium'><img src="./images/fb-icon.png"></a>
            </div>
            <div class="col-xs-2 col-sm-1 col-md-3">
              <a href='https://twitter.com/adlerskywatch'><img src="./images/twitter-icon.png"></a>
            </div>
            <div class="col-xs-4 col-sm-1 col-md-6">
              <a href='http://www.youtube.com/adlerplanetarium'><img src="./images/youtube-icon.png"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="contact">
  <div class="container">
    <div class="row"id="contact">
      <div class="col-md-12">
        <p>
          Content Copyright ©2014 Adler Planetarium - 1300 S Lake Shore Dr - Chicago, IL 60605 - 312.322.1234 - MGESG@adlerplanetarium.org
        </p>
      </div>
    </div>
  </div>
</div>
