<div class="row">
  <div class="col-md-3 btn_menu">
    {{#linkTo 'event.about'}}{{translate 'span' 'event.about.title'}}{{/linkTo}}
    {{#linkTo 'event.schedule'}}{{translate 'span' 'event.schedule.title'}}{{/linkTo}}
    {{#linkTo 'event.getting_here'}}{{translate 'span' 'event.gettingHere.title'}}{{/linkTo}}
    {{#linkTo 'event.contact_us'}}{{translate 'span' 'event.contactUs.title'}}{{/linkTo}}
  </div>

  <div class="col-md-8 col-md-offset-1 menu_content">
    {{outlet}}
  </div>
</div>
