<div class="row">
  <div class="col-md-3 btn_menu">
    {{#linkTo 'resources.adler_activities'}}{{translate 'span' 'resources.adlerActivities.title'}}{{/linkTo}}
    {{#linkTo 'resources.nasa'}}{{translate 'span' 'resources.nasaEnEspanol.title'}}{{/linkTo}}
    {{#linkTo 'resources.summer_camps'}}{{translate 'span' 'resources.summerCamps.title'}}{{/linkTo}}
    {{#linkTo 'resources.citizen_science'}}{{translate 'span' 'resources.citizenScience.title'}}{{/linkTo}}
  </div>

  <div class="col-md-8 col-md-offset-1 menu_content">
    {{outlet}}
  </div>
</div>
